@page
@model FreelanceDir.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col"><h3>Details</h3></div>
    <div class="col d-flex justify-content-end"><a class="btn btn-info align-self-end" asp-page="/Orders/Index">Go to List</a></div>
</div>

<hr />

<div class="row">
    <div class="col">
        <p class="font-weight-bold">Gig info</p>
        <p class="font-weight-normal">Title</p>
        <p>@Model.Order.Gig.Title</p>
        <p class="font-weight-normal">Description</p>
        <p>@Model.Order.Gig.Description</p>
    </div>
    <div class="col">
        <p class="font-weight-bold">Package info</p>
        <p class="font-weight-normal">Name</p>
        <p>@Model.Order.Package.Name</p>
        <p class="font-weight-normal">Details</p>
        <p>@Model.Order.Package.Details</p>
    </div>
    <div class="col">
        <p class="font-weight-bold">Order info</p>
        <p class="font-weight-normal">Seller Username</p>
        <p>@Model.Order.Seller.UserName</p>
        <p class="font-weight-normal">Buyer Username</p>
        <p>@Model.Order.Buyer.UserName</p>
        <p class="font-weight-normal">Status</p>
        <p>@Model.Order.Status </p>
        <p class="font-weight-normal">Due Date</p>
        <p>@Model.Order.DueDate</p>
        <p class="font-weight-normal">Placed Date</p>
        <p>@Model.Order.CreatedDate</p>
    </div>
</div>
