@page
@model FreelanceDir.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Your Orders</h3>
<hr />
<table class="table mt-3 table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Gig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreatedDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                <a class="text-dark font-weight-normal" asp-page="/Orders/Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Gig.Title)
                </a>
            </td>
            <td>
                <a class="text-dark font-weight-normal" asp-page="/Users/Profile" asp-route-username="@item.Seller.UserName">
                    @Html.DisplayFor(modelItem => item.Seller.UserName)
                </a>                
            </td>
            <td>
                <a class="text-dark font-weight-normal" asp-page="/Users/Profile" asp-route-username="@item.Seller.UserName">
                    @Html.DisplayFor(modelItem => item.Buyer.UserName)
                </a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        </tr>
}
    </tbody>
</table>
