@model Gig
@inject UserManager<User> UserManager
@{

}

<div class="card col-auto" style="width: 18rem;">
    <img src="~/images/@Model.ImageName" class="card-img-top" alt="..." style="height: 170px">
    <div class="card-body">
        <h6 class="card-title">
            <a asp-page="/Gigs/Details" asp-route-id="@Model.Id" class="font-weight-normal">@Model.Title</a>
        </h6>
        <p class="card-text pb-0">
            <a asp-page="/Users/Profile" asp-route-username="@Model.User.UserName"><small class="text-muted">@Model.User.UserName</small></a>
        </p>
        <p class="card-text pb-0 d-flex justify-content-between">
            <small class="text-muted">From $@Model.StartingPrice</small>
        </p>
        <a asp-page="/Gigs/Details" asp-route-id="@Model.Id" class="btn btn-info">Learn More</a>
    </div>
</div>